/* Theme Info */

.theme-info-wrap { margin: 25px 40px 0 20px; max-width: 1050px; position: relative; }
.theme-info-wrap img { max-width: 100%; }
.theme-info-wrap .clearfix:before, .theme-info-wrap .clearfix:after { content: " "; display: table; }
.theme-info-wrap .clearfix:after { clear: both; }
.theme-info-wrap .clearfix { *zoom: 1; }
.theme-info-wrap .row [class*='col-']:first-child { margin: 0; }
.theme-info-wrap [class*='col-'] { float: left; margin-left: 2.04%; overflow: hidden; }
.theme-info-wrap .col-1-2 { width: 48.98%; }
.theme-info-wrap h1 { font-size: 40px; font-size: 2.5rem; font-weight: 400; line-height: 1.2; margin-bottom: 0; color: #333333; }
.theme-info-wrap h3 { font-size: 24px; font-size: 1.5rem; line-height: 1.2; }
.theme-info-wrap h4 { font-size: 18px; font-size: 1.125rem; margin: 10px 0; margin: 0.625rem 0; }
.theme-info-wrap .theme-description { font-size: 18px; font-size: 1.125rem; margin: 10px 0; margin: 0.625rem 0; min-height: 60px; font-weight: 400; line-height: 1.5; color: #777777; }
.theme-info-wrap .theme-links p strong { font-size: 14px; font-size: 0.875rem; margin-right: 16px; margin-right: 1rem; }
.theme-info-wrap .theme-links p a { font-size: 14px; font-size: 0.875rem; margin-right: 16px; margin-right: 1rem; }

/* Theme options */
#kerli-dashboard-wrap .nav-tab-wrapper {
	padding-top: 36px;
	margin-bottom: 24px;
}
.content {
	margin-top: 12px;
	padding: 12px 24px 24px;
	border: solid 1px #e5e5e5;
	background: white;
}
.content .button-primary {
	margin:1px 0;
}
.content ul {
	list-style: disc;
	margin-left: 36px;
}
.content-licenses {
	border: none;
	padding: 0;
}
.content-licenses form {
	padding: 0 24px;
	margin-bottom: 24px;
	border: solid 1px #ccc;
	background: white;
}
.content-licenses form h4 {
	padding: 12px 24px;
	margin: 0 12px 12px -24px;
	width: 100%;
	background: #f5f5f5;
	border-bottom: solid 1px #ccc;
	font-weight: 600;
	font-size: 16px;
}
.content-licenses form span {
	display: block;
}
.content-licenses label {
	display: block;
}
.content-licenses .invalid {
	background: #E54C56;
}
.content-licenses .valid {
	background: #3FBF5D;
	color: white;
	padding: 12px;
}
.content-licenses .valid a {
	color: white;
}
.content-licenses .form-table {
	margin: 12px 0;
	display: block;
}
.content-licenses .form-table td, .content-licenses .form-table th {
	border: solid 1px #e5e5e5;
	display: block;
	width: 100%;
	width: calc(100% - 24px);
	padding: 12px;
}
.content-licenses .form-table th {
	background: #f5f5f5;
	border-bottom: none;
}
.content-licenses .form-table tr {
	margin: 12px 0;
	display: block;
}

/* Kerli option panel */
.vt-upgrade-thumb img { border: 1px solid #ccc; }
#customize-info, #customize-theme-controls > ul > .accordion-section:first-child {
	background: #f25d46;
	color: #fff;
}

/* Kerli widgets */
#widget-list [id*='_kerli'] .widget-top,
#widget-list [id*="_kerli"] .widget-title h3 { 
	background: #f25d46;
	color: #fff;
}

#available-widgets-list [id*="kerli-"].widget-tpl,
#available-widgets-list [id*="kerli_lite_"].widget-tpl  { 
	background: #f25d46;
	color: #fff;
}

#available-widgets-list [id*="kerli-"].widget-tpl:hover,
#available-widgets-list [id*="kerli_lite_"].widget-tpl:hover  { 
	background: #F68978;
	color: #fff;
}

#available-widgets-list [id*="kerli-"] .widget-top, #available-widgets [id*="kerli-"] .widget .widget-description, 
#available-widgets-list [id*="kerli_lite_"] .widget-top, #available-widgets [id*="kerli_lite_"] .widget .widget-description{ 
	color: #fff;
}

.widget-separator { 
	font-size: 18px; 
	font-weight: 600;
	border-bottom: 2px solid #ddd;
}

/* 600px */
@media all and (min-width: 37.5em) {
	.content {
		width: 39%;
		float: left;
	}
	.content p {
		min-height: 55px; margin:0px;
	}

	.content-customization,
	.content-premium-upgrades {
		margin-right: 2%;
	}
}
/* 1100px */
@media all and (min-width: 68.75em) {
	.content {
		width: 27%;
	}
	.content:nth-child(3n + 3) {
    clear: left;
	}
	.content-customization, .content-resources, .content-design,
	.content-support {
		margin-right: 1%;
	}
	.content-premium-upgrades {
		margin-right: 0;
	}
	.content-licenses h3 {
		clear: both;
	}
	.content-licenses form {
		width: 43%;
		float: left;
	}
	.content-licenses form.odd {
		margin-right: 2%;
		clear: left;
	}
	.content-licenses form:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
/* Styles for Post Video meta box */
#ct_kerli_lite_video .inside {
	padding: 0;
	margin: 0;
}
#ct_kerli_lite_video .description {
	padding: 6px 12px 12px 24px;
}

.ct_kerli_lite_video_input_container {
	padding: 24px 24px 12px;
}
.ct_kerli_lite_video_input_container label {
	margin-right: 46px;
	font-weight: 700;
}
.ct_kerli_lite_video_input_container div {
	position: relative;
	display: inline-block;
}
.ct_kerli_lite_video_input_container div svg {
	position: absolute;
	top: 3px;
	padding: 5px;
	right: 3px;
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	transition: opacity 0.2s ease;
	  -webkit-transition: opacity 0.2s ease;
	  -moz-transition: opacity 0.2s ease;
	  -o-transition: opacity 0.2s ease;
	  -ms-transition: opacity 0.2s ease;
}
.ct_kerli_lite_video_input_container.has-vid svg {
	opacity: 1;
	  -moz-opacity: 0;
	  -webkit-opacity: 0;	
}
.ct_kerli_lite_video_preview_container {
	position: relative;
	padding: 24px;
	text-align: center;
	min-height: 300px;
	border: dashed 4px #E1ECED;
	background: #F2F9FA;
}
.ct_kerli_lite_video_preview_container label {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	display: block;
	font-size: 24px;
	color: #C9D2D4;
	text-transform: uppercase;
	letter-spacing: 0.14em;
}
.ct_kerli_lite_video_preview_container.has-vid {
	min-height: 0;
	border: none;
	border-bottom: solid 1px #e5e5e5;
	background: none;
}
.ct_kerli_lite_video_preview_container .loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(67, 179, 196, 0.4);
	opacity: 0;
	text-align: center;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.ct_kerli_lite_video_preview_container .loading svg {
	position: absolute;
	right: 47%;
	top: 38%;
	animation: spin 2s linear infinite;
	  -webkit-animation: spin 2s linear infinite;
}
.ct_kerli_lite_video_preview_container.ajax-loading .loading {
	visibility: visible;
	opacity: 1;
	  -moz-opacity: 1;
	  -webkit-opacity: 1;	
}
@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}